.hero-wrapper {
  height: 88vh;
  width: 100%;
  max-width: 820px;
  justify-content: center;
  align-items: center;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.hero-container {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.hero-container > h1 {
  color: #fff;
  font-size: 45px;
  font-weight: 500;
  margin-top: 0px;
  text-align: center;
}

.hero-container > p {
  margin-top: 16px;
  color: #adaecd;
  font-size: 16px;
  width: 400px;
}

.videocontainer {
  z-index: -1;
  width: 100%;
  position: absolute;
  height: 100vh;
  left: 0;
  top: 0;
  overflow: hidden;
  /* box-shadow: 0 40px 80px rgba(0, 0, 0, 0.4); */
}

.charloStyle {
  font-weight: 900;
}

.hero-container > ul {
  margin-top: 26px;
  color: #d6daff;
  font-size: 16px;
  line-height: 30px;
  list-style: none;
  justify-content: center;
  align-items: center;
}
.hero-container > li {
  margin-top: 16px;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.hero-container > .pink-button {
  margin-top: 32px;
}

@media screen and (max-width: 960px) {
  .hero-wrapper {
    width: 90%;
  }
}

@media screen and (max-width: 690px) {
  .hero-wrapper {
    column-gap: 0px;
    height: 80vh;
    justify-content: center;
  }
  .hero-container {
    margin-top: 0;
  }
  .hero-container > h3,
  h2 {
    justify-content: center;
    text-align: center;
    align-self: center;
    align-items: center;
  }
  .videocontainer {
    height: 92%;
  }
}
