html {
  scroll-behavior: smooth;
  background: linear-gradient(
    180deg,
    rgb(77, 141, 238) 0%,
    rgb(77, 141, 238) 25%,
    rgb(32, 31, 47) 25%,
    rgb(32, 31, 47) 100%
  );
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Graphik", Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  font-size: 14px;
}

img {
  border-radius: 0;
}

Img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  border-radius: 0;
}

b {
  font-weight: 700;
}

h1 {
  font-size: 35px;
  font-weight: 700;
  color: white;
  transition: 0.8s all ease;
}
h2 {
  font-size: 35px;
  font-weight: 700;
  color: white;
}

li {
  margin-top: 16px;
}

textarea:focus,
input:focus {
  outline: none;
}

textarea {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  border-color: none;
  border-style: none;
}

h3 {
  font-size: 35px;
  font-weight: 400;
  color: white;
  transition: 0.8s all ease;
}

h4 {
  font-size: 18px;
  font-weight: 700;
  color: white;
  transition: 0.8s all ease;
}

p {
  font-size: 16px;
  font-weight: 300;
  color: #adaecd;
  transition: 0.8s all ease;
}

h5 {
  margin-top: 26px;
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  color: #adaecd;
  transition: 0.8s all ease;
}

h6 {
  font-size: 14px;
  font-weight: 700;
  color: rgb(65, 141, 255);
  margin-bottom: 10px;
  transition: 0.8s all ease;
}

radio-button {
  -fx-focus-traversable: false;
}

@font-face {
  font-family: "Graphik";
  src: local("Graphik Extra light"), local("Graphik-Extra-light"),
    url("/fonts/Graphik/Graphik-Extralight.woff2") format("woff2"),
    url("/fonts/Graphik/Graphik-Extralight.woff") format("woff"),
    url("/fonts/Graphik/Graphik-Extralight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

/* @media screen and (max-width: 960px) {
  h2,
  h1,
  h3 {
    font-size: 35px;
  }
} */

@media screen and (max-width: 690px) {
  h2,
  h3,
  h1 {
    font-size: 24px;
    justify-content: center;
    text-align: center;
    align-self: center;
    align-items: center;
  }
  h4 {
    font-size: 16px;
  }

  h6 {
    justify-content: center;
    text-align: center;
    align-self: center;
    align-items: center;
  }
  html {
    background: linear-gradient(
      180deg,
      #4d8dee 0%,
      #4d8dee 10%#201f2f 11%,
      #201f2f 100%
    );
  }
}
